.board {
  height: 550px;
  width: 100%;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(28, 1fr);
  grid-template-rows: repeat(28, 1fr);
  align-items: center;
  overflow: scroll;
  grid-gap: 22px;
}

@media (max-width: 805px) {
  .tile {
    max-width: 30px;
    max-height: 60px;
  }
  .side-a,
  .side-b {
    height: 30px;
  }
  .board {
    max-height: 500px;
    max-width: 100%;
  }
  .tile.placeholder,
  .tile.placed {
    max-width: 20px;
    max-height: 40px;
  }
  .dot {
    width: 6px;
    height: 6px;
  }
  .placed .dot {
    width: 4.5px;
    height: 4.5px;
  }
  .player-stack {
    width: 75%;
  }
  .placed .side-a,
  .placed .side-b {
    height: 20px;
  }
}

@media (max-width: 602px) {
  .tile {
    max-width: 20px;
    max-height: 40px;
  }
  .tile.placeholder,
  .tile.placed {
    max-width: 15px;
    max-height: 30px;
  }
  .side-a,
  .side-b {
    height: 20px;
  }
  .placed .side-a,
  .placed .side-b {
    height: 15px;
  }
  .board {
    max-height: 400px;
    max-width: 75%;
  }
  .dot {
    width: 4px;
    height: 4px;
  }
  .placed .dot {
    width: 3px;
    height: 3px;
  }
  .player-stack {
    width: 50%;
  }
}
