.toolbar {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.game-button {
  margin: 5px;
  border: 1px solid rgb(255, 255, 255, 0.5);
  border-radius: 20px;
  background-color: rgb(5, 117, 230, 0);
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
}

.game-button:focus {
  outline: 0;
}

.game-button:hover {
  background-color: rgb(5, 117, 230, 0.3);
}

.ui-message {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.ui-message span {
  display: inline;
  transition: ease 0.5s;
  background-color: rgb(5, 117, 230, 0.3);
  border-radius: 10px;
  padding: 2px 10px;
  opacity: 0;
  color: #fff;
}

.ui-message.warning span {
  background-color: #fff3cd;
  color: #856404;
}

.ui-message.info span {
  background-color: rgb(5, 117, 230, 0.3);
  color: #fff;
}

.ui-message.show span {
  transition: ease 0.5s;
  opacity: 1;
}

.ui-message.hide span {
  transition: ease 0.5s;
  opacity: 0;
}

@media (max-width: 805px) {
  .toolbar {
    width: 75%;
    font-size: 75%;
  }

  .game-button {
    padding: 4px, 7.5px;
    margin: 4px;
    font-size: 75%;
  }
}

@media (max-width: 602px) {
  .toolbar {
    width: 50%;
    font-size: 50%;
  }

  .game-button {
    padding: 2.5px, 5px;
    margin: 2.5px;
    font-size: 50%;
  }
}
