.toolbar {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.game-button {
  margin: 5px;
  border: 1px solid rgb(255, 255, 255, 0.5);
  border-radius: 20px;
  background-color: rgb(5, 117, 230, 0);
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
}

.game-button:focus {
  outline: 0;
}

.game-button:hover {
  background-color: rgb(5, 117, 230, 0.3);
}

.ui-message {
  text-align: center;
  height: 20px;
  opacity: 0;
  transition: ease 0.5s;
}

.ui-message.show {
  transition: ease 0.5s;
  opacity: 1;
}

.ui-message.hide {
  transition: ease 0.5s;

  opacity: 0;
}
