html,
body {
  height: 100%;
}

body {
  font-family: 'Avenir';
  font-size: 14px;
  background: #1fa2ff;
  background: -webkit-linear-gradient(to right, #a6ffcb, #12d8fa, #1fa2ff);
  background: linear-gradient(to right, #a6ffcb, #12d8fa, #1fa2ff);
}

.container {
  width: 800px;
  margin: 0 auto;
  min-height: 100%;
}
